<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/tasks/list/all}">Todo</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/tasks/list/all}">Главная</a>
            <a class="nav-item nav-link" th:href="@{/tasks/list/all}">Все задачи</a>
            <a class="nav-item nav-link active" th:href="@{/tasks/list/done}">Выполненные задачи</a>
            <a class="nav-item nav-link" th:href="@{/tasks/list/new}">Новые задачи</a>
        </div>
        <div class="navbar-nav me-auto" th:if="${user == null || user.name == 'Гость'}">
            <a class="nav-item nav-link" th:href="@{/users/create}">Регистрация</a>
            <a class="nav-item nav-link" th:href="@{/users/login}">Войти</a>
        </div>
        <div class="navbar-nav me-auto" th:if="${user != null && user.name != 'Гость'}">
            <a class="nav-item nav-link" href="#" th:text="${user.name}"></a>
            <a class="nav-item nav-link" th:href="@{/users/logout}">Выйти</a>
        </div>
    </div>
</nav>